/* 
  Author: Amit Hasan
  Theme: Food Order Manegment
  Version: 1.0
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
/* Header area style start here */

.nav-menu {
  line-height: 70px;
}
.nav-menu ul {
  display: flex;
  justify-content: center;
}
.nav-menu ul li{
  list-style: none;

}
.nav-menu ul li a{
  text-decoration: none;
  padding: 10px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.nav-menu ul li a:hover {
  background-color: #dfe4ea;
  border-radius: 4px;
}
/* Header area style End here */


/* Main Content area style start here */
.main-content {
  padding: 50px 0;
  background-color: #f1f2f6;
}
.main-content h1{
  font-size: 40px;
}
.main-content .success {
  color: #18b158;
}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.box-4 {
  flex-basis: 23%;
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 5px;
  text-align: center;
}
.box-4 h2{
  font-size: 30px;
}
/* Main Content area style End here */


/* Footer area style start here */
.footer-area {
  text-align: center;
  background-color: #7ed6df;
  color: rgb(0, 0, 0);
  padding: 5px;
  font-weight: 500;
}
.footer-area p span {
  color: #eb4d4b;
}
/* Footer area style end here */

/* Manage admin area start here */
.btn-primary {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  background-color: #0984e3;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #0d71bd;
}
.btn-success {
  padding: 8px 12px;
  text-decoration: none;
  font-size: 16px;
  background-color: #2ecc71;
  color: #000000;
}
.btn-success:hover {
  background-color: #18b158;
}
.btn-danger {
  padding: 8px 12px;
  text-decoration: none;
  font-size: 16px;
  background-color: #fa6b6b;
  color: #ffffff;
}
.btn-danger:hover:hover {
  background-color: #ec5656;
}



.tbl {
  width: 90%;
  margin-top: 20px;
}
.tbl tr {
  margin-top: 20px;
}
.tbl tr th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #000000;
}
.tbl tr td {
  padding: 10px;
  text-align: left;
}
.tbl tr:nth-child(even) {
  background-color: #82ccdd4a;
}
/* Manage Admin end here */

/* Add Admin area start here */
.tbl-info {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}
.tbl-info tr td {
  font-size: 16px;
  font-weight: 500;
}
.text-area-brdr {
  padding: 8px;
  border: 1px solid #81ecec;
  margin-bottom: 8px;
  font-size: 16px;
}
.tbl-info input{
  padding: 8px;
  border: 1px solid #81ecec;
  margin-bottom: 8px;
  font-size: 16px;
}
.tbl-info .btn-primary {
  border: none;
  margin-top: 10px;
}
.tbl-info .slct-catgry {
  padding: 8px;
  border: 1px solid #81ecec;
  margin-bottom: 8px;
  font-size: 16px;
}
/* Add Admin area end here */

/* Login page Style */

.log-info {
  max-width: 30%;
  margin: 10% auto;
  background-color: #192a5642;
  padding: 30px;
}
.log-info h2 {
  margin-bottom: 15px;
}
.form-center label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.form-center input[type = 'text'],
.form-center input[type = 'password']{
  padding: 8px;
  width: 100%;
  border: 1px solid #dff9fb;
  margin-bottom: 15px;
}
.form-center input[type = 'submit']{
  padding: 8px 25px;
  border: none;
}

.input-center {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.no-border {
  border: none;
}

/* Manage category area */

.tbl .img-fit img {
  width: 80px;
  height: auto;
  object-fit: cover;
  
}

.category-form {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.form-padding {
  padding: 30px 0;
}





















@media only screen and (max-width: 768px){
  .box {
    display: flex;
    flex-direction: column;
  }
  .box-4 {
    flex-basis: 80%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 320px){
  .nav-menu ul li a{
    padding: 5px;
    font-size: 15px;
  }
}